<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
        }
        .candidate {
          margin-bottom: 10px;
        }
        .candidate a {
          color: #0366d6;
          text-decoration: none;
        }
    </style>
</head>
<body>
<div>
    <h2>Candidates</h2>
    <ul>
        <div th:each="candidate : ${candidates}" class="candidate">
            <li>
                Click to vote for: <a th:href="@{voteFor(id=${candidate.id})}" th:text="${candidate.name}"></a>
            </li>
        </div>
    </ul>
</div>
</body>
</html>
